li {
  display: inline;
  margin-right: 7%;
  text-align: center;
  vertical-align: middle;
  padding: 1%;
}
*{margin: 0;}
.index
{
	margin-top: 2%;
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	background-color: beige;
	text-align: center;
	margin-bottom: 2%;
	padding-bottom: 1%;
}
.navbar, a:link, a:visited
{
	background-color: black;
	color: aliceblue;
	text-decoration: none;
}
.carousel
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	width: auto;
}
.carousel > div
{
	width: 55%;
	margin: 3%;
}
.carousel-item > img
{
	width: 40%;
}